In [4]:
import pandas as pd
import numpy as np
import os

In [10]:
data = pd.read_csv("family_data.csv")

In [11]:
data.head()

,family_id,choice_0,choice_1,choice_2,choice_3,choice_4,choice_5,choice_6,choice_7,choice_8,choice_9,n_people
0,0,52,38,12,82,33,75,64,76,10,28,4
1,1,26,4,82,5,11,47,38,6,66,61,4
2,2,100,54,25,12,27,82,10,89,80,33,3
3,3,2,95,1,96,32,6,40,31,9,59,2
4,4,53,1,47,93,26,3,46,16,42,39,4

In [23]:
# with open("santa_n_people.dzn","w") as f:
#     f.write("n_people = [")
#     f.write(",".join(map(str,df.n_people.tolist())))
#     f.write("];")

In [22]:
# with open("santa_choice.dzn","w") as f:
#     f.write("choice = [|")
#     for i in range(df.shape[0]):
#         f.write(",".join(map(str,df.iloc[i,1:-1].tolist())))
#         f.write("|")
#     f.write("|];")

In [7]:
def get_choice_cost(choice, n):
    if choice == 0:
        return 0
    elif choice == 1:
        return 50
    elif choice == 2:
        return 50+9*n
    elif choice == 3:
        return 100+9*n
    elif choice == 4:
        return 200+9*n
    elif choice == 5:
        return 200+18*n
    elif choice == 6:
        return 300+18*n
    elif choice == 7:
        return 300+36*n
    elif choice == 8:
        return 400+36*n
    elif choice == 9:
        return 500+235*n
    else:
        return 500+434*n

In [8]:
cost_matrix = np.zeros((5000,100),dtype=int)

In [12]:
for ind,row in data.iterrows():
    cost_matrix[ind] = get_choice_cost(10,row['n_people'])
    for i in range(10):
        cost_matrix[ind,row[f'choice_{i}']-1] = get_choice_cost(i,row[f'choice_{i}'])

In [13]:
cost_matrix = np.tile(cost_matrix.reshape(5000,100,1),(1,1,50)).reshape(5000,5000)

In [16]:
with open("santa_cost.dzn","w") as f:
    f.write("c = [|")
    for i in range(cost_matrix.shape[0]):
        f.write(",".join(map(str,cost_matrix[i].tolist())))
        f.write("|")
    f.write("|];")