In [5]:
import numpy as np
import pandas as pd
import os
os.listdir()
image_area = 288*512

In [6]:
df = pd.read_csv("pseudo_labeling.csv")
df.head()

,Image_Label,EncodedPixels,0.05,0.1,0.15,0.2,0.8,0.85,0.9,0.95
0,002f507.jpg_Fish,NaN,147453,147456,147456,147456,0,0,0,0
1,002f507.jpg_Flower,NaN,147456,147456,147456,147456,0,0,0,0
2,002f507.jpg_Gravel,4 335 352 343 702 346 1051 348 1401 348 1751 3...,21511,24413,25798,26924,106225,102819,97605,82197
3,002f507.jpg_Sugar,NaN,104072,131576,140337,143285,0,0,0,0
4,0035ae9.jpg_Fish,NaN,75293,90689,100987,109527,0,0,0,0

In [7]:
def foo(x,l="0.05",h="0.95",th=0.95):
    if (x[l]+x[h])/image_area > th:
        return 1
    else:
        return 0

In [8]:
df["pseudo_label_individual"] = df.apply(foo,args=("0.2","0.8",0.9),axis=1)
df.loc[(df.pseudo_label_individual == 1),"EncodedPixels"].notnull().value_counts()

False    6322
True      541
Name: EncodedPixels, dtype: int64

In [11]:
name = df.Image_Label.apply(lambda x: x.split("_")[0]).unique()
name[:10]

array(['002f507.jpg', '0035ae9.jpg', '0038327.jpg', '004f759.jpg',
       '005ba08.jpg', '006440a.jpg', '006f61b.jpg', '0078e5a.jpg',
       '008fc8a.jpg', '0096937.jpg'], dtype=object)

In [12]:
len(name)

3698

In [15]:
labels = ["Fish","Flower","Gravel","Sugar"]

In [16]:
for pn in name:
    all_names = [pn+"_"+l for l in labels]
    temp = df[df.Image_Label.isin(all_names)]
    proba = (sum(temp["0.2"].values)+sum(temp["0.8"].values))/(image_area*4)
    if proba>0.9:
        value = 1
    else:
        value = 0
    df.loc[df.Image_Label.isin(all_names),"pseudo_group"] = value

In [17]:
df.head()

,Image_Label,EncodedPixels,0.05,0.1,0.15,0.2,0.8,0.85,0.9,0.95,pseudo_label_individual,pseudo_group
0,002f507.jpg_Fish,NaN,147453,147456,147456,147456,0,0,0,0,1,1.0
1,002f507.jpg_Flower,NaN,147456,147456,147456,147456,0,0,0,0,1,1.0
2,002f507.jpg_Gravel,4 335 352 343 702 346 1051 348 1401 348 1751 3...,21511,24413,25798,26924,106225,102819,97605,82197,1,1.0
3,002f507.jpg_Sugar,NaN,104072,131576,140337,143285,0,0,0,0,1,1.0
4,0035ae9.jpg_Fish,NaN,75293,90689,100987,109527,0,0,0,0,0,0.0

In [19]:
df.pseudo_group.value_counts()

0.0    10820
1.0     3972
Name: pseudo_group, dtype: int64